* {
  box-sizing: content-box;
  margin: 2px;

}

#root {
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
  width: 300px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
  cursor: pointer;
}

li {
  border: 1px solid #000000;
  border-bottom: none;
  padding: 15px;
}

li:last-child {
  border-bottom: 1px solid #000000;
}

.active {
  background-color: #0f7ffa;
  color: #ffffff;
}

.details {
  border: 1px solid #c7c7c7;
  height: fit-content;
}

.details p {
  padding: 10px;
  border-bottom: 1px solid #c7c7c7;
  margin: 0;
}

.details p:last-child {
  border-bottom: none;
}

.loading_progress {
  position: absolute;
  top: 200px;
  left: 230px;
}
